:root { 
    --primary-color:#67acd7;
    --background-color: #ffffff; /* Cor de fundo do site*/
    --text-color: #104e67;  /* cor das letras no parágrafo  */
    --produto-background-color: #ffffff;  /* Cor de fundo do Produtos*/
    --button-text-color: #104e67;
}

/* Estilos do menu de navegação SOBRE, CONTATO e PRODUTOS */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin:  0 20px 20px;
    
}

nav ul li a {
    color: #f4fcff;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffffff;
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width 0.3s;
    position: absolute;
    bottom: -2px;
    left: 0;
}

nav ul li a:hover::after {
    width: 100%;
}



#Buscar-produtos {
    width: 20%; /* Tamanho completo do campo */
    padding: 10px; /* Espaçamento interno */
    font-size: 15px; /* Tamanho da fonte */
    border: 2px solid #ffffff; /* Cor e espessura da borda */
    border-radius: 5px; /* Bordas arredondadas */
    outline: none; /* Remove a borda de foco padrão */
    background-color: #f9f9f9; /* Cor de fundo */
    color: #333; /* Cor do texto */
    transition: border-color 0.3s; /* Transição suave ao mudar a cor da borda */
    margin-top: -10px;
}

/* Quando o campo está em foco */
#Buscar-produtos:focus {
    border-color: #146787; /* Cor da borda ao focar */
    background-color: #ffffff; /* Cor de fundo ao focar */
}
.logo-CloudStore {
    width: 400px;
    height: 400px;
    margin: 0 auto; /* Centraliza horizontalmente */
    display: block; /* Garante que o elemento use o margin auto */
}

/* Estilo do ícone de carrinho fixo no canto superior direito */
.icone-carrinho{
    position: fixed;
    top: 35px;    /* Distância do topo da tela */
    right: 1000px;  /* Distância da borda direita */
    left: 30px;
    font-size: 20px; /* Tamanho do ícone */
    color: #ffffff;; /* Cor do ícone */
    cursor: pointer;
    transition: color 0.3s ease; /* Transição suave para a mudança de cor */
    z-index: 1000; /* Garante que o ícone fique sobre outros elementos */
}

.icone-carrinho:hover {
    color:#3d7598;     /* Cor do ícone quando passa o mouse */
}

.icone-carrinho i {
    margin: 0; /* Remove margens extras */
}

/* Animação quando o ícone é clicado (opcional) */
.icone-carrinho:active {
    transform: scale(0.95); /* Efeito de "pressionamento" */
}



h1 {
    text-align: center;
    font-size: 50px;
    color: #146787;
    margin-bottom: 30px;

}

h2 {
    text-align: center;
    font-size: 27px;
    color: #146787;
    margin-bottom: 30px;
}


/* Estilo para os inputs */
input[type="text"], input[type="email"] {
    width: 70%;
    padding: 12px;
    margin-bottom: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="email"]:focus {
    border-color: 146787;
    outline: none;
}

/* Estilo para o botão */
button[type="submit"] {
    width: 100%;
    padding: 14px;
    background-color: #146787;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #4e8ba3;
}


/* Estilos gerais do body */
body {
    font-family: 'Century Gothic', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilos do cabeçalho */
header {
    background-color: var(--primary-color); 
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: relative;
    border-radius: 30px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    margin: 15px 10px;
    font-size: 1.2em;
}

header:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}



/* Estilos da seção */
section {
    padding: 60px 20px;
    text-align: center;
    transition: padding 0.3s;
}




/* Estilos para os produtoss */
.produtos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
    padding-top: 20px;
}

.produtos {
    width: 200px;
    padding: 20px;
    background-color: var(--produto-background-color);
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.15);
    border-radius: 70px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
    transform: translateY(15px);
    animation: fadeInUp 0.5s forwards;
    animation-delay: calc(var(--i) * 0.1s);
}

.produtos:hover {
    transform: translateY(-15px) scale(1.05);
    box-shadow: 3px 3px 1px#146787;
}

.produtos img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.produtos h3 {
    font-size: 1.4em;
    color:#146787;
    margin-bottom: 8px;
    transition: color 0.3s ease;
}

.produtos p {
    color: #146787;
    font-size: 0.95em;
    line-height: 1.6;
    margin-bottom: 15px;
}

.produtos button {
    font-family: 'Century Gothic', sans-serif;
    background-color:#eaecf3; /* cor principal de fundodo botao adic. ao carrinho*/
    color: #146787;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s ease;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.produtos button:hover {
    background-color: #e6eaf3;
    transform: translateY(-1px);
    box-shadow: 2px 4px 0px #146787;
}

/* Estilos do footer = parte de baixo do site  */
footer {
    background-color:  #146787;
    color:  #f4fcff;
    text-align: center;
    padding: 6px;
    box-shadow: 0 -10px 1px rgb(255, 255, 255);
    margin-top: 30px;
    border-radius: 20px;
}

footer:hover {
    background-color:  #146787;
    color:  #f4fcff;
    text-align: center;
    padding: 6px;
    box-shadow: 0 -10px 1px rgb(255, 255, 255);
    margin-top: 30px;
    border-radius: 20px;
}



/* Estilos do botão de contato */
.botão-contato {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s ease;
    box-shadow: 3px 3px 0px #b1d2df;
    position: relative;
    overflow: hidden;
}

.botão-contato:hover {
    transform: translateY(-4px);
    box-shadow: 3px 3px 0px #146787;
}

/* Animação de fade-in para produtoss */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}
#cadastro {

    width: 30%;
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 30px;
    box-shadow: 2 4px 8px #ffffff;
   


}
    
