/* acabeçalho / ponto principal do site */
header {
    background-color: #67acd7;
    padding: 20px;
    text-align: center;
    position: relative;
    border-radius: 30px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    margin: 15px 10px;
    font-size: 1.2em;
}
/* Hover = Efeito de Animação quando passa o mouse*/
header:hover {
    transform: translateY(-5px);
    box-shadow: 0 3px 0px rgb(13, 121, 171);
}
/* modificando "SOBRE, "PRODUTOS, CONTATOS na parte de cima do site*/
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin:  0 20px 0px; /* configurando distancia das Strings*/
    
}

nav ul li a {
    color: #fff4f4; /* Configurando COR das Strings "SOBRE, "PRODUTOS, CONTATOS*/
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}
/* Hover = Efeito de Animação quando passa o mouse*/
nav ul li a:hover {
    color: #ffffff;
}

nav ul li a::after {/* ::after cria um elemento virtual logo após o conteúdo do link (<a>), que pode ser estilizado como se fosse um elemento HTML real.*/
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width 0.3s;
    position: absolute;
    bottom: -2px;
    left: 0;
}

nav ul li a:hover::after {  
    width: 100%;
}



#Buscar-produtos {
    width: 100%; /* Expande a barra para preencher o espaço do contêiner */
    max-width: 300px; /* Limita o tamanho máximo para uma aparência consistente */
    padding: 12px; /* Ajusta o espaçamento interno para mais conforto */
    font-size: 16px; /*  Tamanho da Fonte */
    border: 2px solid #f5f1f1; /* Cor da borda inicial */
    border-radius: 25px; /* Bordas arredondadas mais suaves */
    outline: none; /* Remove a borda de foco padrão */
    background-color: #ffffff;  /* cor de fundo */
    color: #146787;   /* Cor do texto para contraste */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transição para borda e sombra */
    margin-top: -10px; /* Alinha melhor com o layout */
    box-shadow: 0 2px 0px #a5e0f5;; /* Sombra  */
    font-family: 'Century Gothic', sans-serif;
}

#Buscar-produtos:focus {
    border-color: #95dcf8;  /* Cor de destaque no foco */
    box-shadow: 1px 1px 0px #abe4fa; /* Sombra um pouco mais intensa no foco para contraste */
}

.logo-CloudStore {
    width: 400px;
    height: 400px;
    margin: 0 auto; /* Centraliza horizontalmente */
    display: block; /* Garante que o elemento use o margin auto */
}

/* Estilo do ícone de carrinho fixo no canto superior direito */
.icone-carrinho{
    position: fixed;
    top: 35px;    /* Distância do topo da tela */
    right: 1000px;  /* Distância da borda direita */
    left: 30px;
    font-size: 20px; /* Tamanho do ícone */
    color: #ffffff;; /* Cor do ícone */
    cursor: pointer;
    transition: color 0.3s ease; /* Transição suave para a mudança de cor */
    z-index: 1000; /* Garante que o ícone fique sobre outros elementos */
}

.icone-carrinho:hover {
    color:#3d7598;     /* Cor do ícone quando passa o mouse */
}

.icone-carrinho i {
    margin: 0; /* Remove margens extras */
}

/* Animação quando o ícone é clicado (opcional) */
.icone-carrinho:active {
    transform: scale(0.95); /* Efeito de "pressionamento" */
}

h1{
    text-align: center;
    font-size: 12px;
    color: #f1f5f7;
    
    
    

}

h2 {
    text-align: center;
    font-size: 27px;
    color: #146787;
    margin-bottom: 0px;
}

h5 {

    text-align: center;
    font-size: 13px;
    color: #ff0606;
    margin-bottom: 30px;


}
h6 {

    text-align: center;
    font-size: 16px;
    color: #146787;
    margin-bottom: 0px;
    padding: 2px;
}
p {
    color:#146787; ;
}


 /* Estilos para os produtoss */
.produtos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
    padding-top: 10px;
}

.produtos {
    width: 195px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 3px 3px 0px rgba(20, 110, 152, 0.158);
    border-radius: 60px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
    transform: translateY(15px);
    animation: fadeInUp 0.7s forwards;
    animation-delay: calc(var(--i) * 0.3s);
}

.produtos:hover {
    transform: translateY(-15px) scale(1.05);
    box-shadow: 3px 3px 0px#146787;
}

.produtos img {
    width: 100%;
    height: auto;
    border-radius: 0px;
    margin-bottom: 0px;
}

.produtos h3 {
    font-size: 1.0em;
    color:#146787;
    margin-bottom: 8px;
    transition: color 0.3s ease;
}
.produtos h4 {

    text-align: center;
    font-size: 13px;
    color: #11a449;
    margin-bottom: 0px;
}

.produtos p {
    color: #146787;
    font-size: 0.70em;
    line-height: 1.6;
    margin-bottom: 0px;

    
}

.produtos h6 {
    margin-top: 0px;
    font-size: 1.00em;
}

.produtos button {
    font-family: 'Century Gothic', sans-serif;
    background-color:#67acd7; /* cor principal de fundodo botao adic. ao carrinho*/
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s ease;
    box-shadow: 3px 3px 0px rgba(195, 222, 248, 0.993);
}

.produtos button:hover {
    background-color: #25e38e;
    transform: translateY(-1px);
    box-shadow: 2px 4px 0px #bef9dc;
    color: #ffffff;
}


/* Estilo para os inputs de nome e email */
input[type="text"], input[type="email"] {
    width: 70%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #d2dde7;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    font-family: 'Century Gothic', sans-serif;
    border-color: #d2dde7;
}

input[type="text"]:focus, input[type="email"]:focus {
    border-color: #67acd7;
    outline: none;
    font-family: 'Century Gothic', sans-serif;
}

/* Estilo para o botão */
button[type="submit"] {
    width: 100%;
    padding: 14px;
    background-color: #67acd7;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #25e38e;
    border: none;
    
}


/* Estilos gerais do body */
body {
    font-family: 'Century Gothic', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    transition: background-color 0.3s ease, color 0.3s ease;
}





/* Animação de fade-in dos produtoss */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}
/* Estilos do botão de contato */
.botão-contato {
    background-color:#ffffff; 
    color: #67acd7;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s ease;
    box-shadow: 3px 3px 0px #b1d2df;
    position: relative;
    overflow: hidden;
}

.botão-contato:hover {
    transform: translateY(-4px);
    box-shadow: 3px 3px 0px #25e38e;
    color: #25e38e;
    
}

/* Estilos da seção de CONTATO */
section {
    padding: 60px 20px;
    text-align: center;
    transition: padding 0.3s;
}

#cadastro {

    width: 30%;
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 2 4px 8px #ffffff;
   
}

/* Estilos do footer = parte de baixo do site  */
footer {
    background-color: #67acd7;
    text-align: center;
    padding: 30px; /* espaçamento do site,padding coloca espaço entre o conteúdo de um elemento e sua borda interna.  */ 

}
